.click {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 22vh;
    width: 22vh;
    flex-direction: column;
    transition: transform 0.5s ease-out; /* Smooth effect */
    cursor: pointer;
  }
.click::after {
    content: "";
    position: absolute;
    width: 22vh;  
    height: 22vh;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: 54%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.down-arrow{
    font-size: 3vh;
    margin-top:2vh;
}
.click:hover{
    color:aqua;
    border: 1px solid rgba(95, 214, 250, 0.8);

}
.click:hover::after{
    color:aqua;
    border: 1px solid rgba(95, 214, 250, 0.8);
    

}

  
 
  .click:active {
    transform: scale(0.9); /* Small click effect */
  }